* {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100vh;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text-style {
  color: #D9D900;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
